<settings>
    <category label="General">
        <setting id="setHostname" label="Hostname: Watchseries-online.??" values="watchseries-online.be" default="watchseries-online.be" type="text" visible="true"/>
        <setting id="topSources" label="Top Sources,Source2," values="streamcloud,vidto,openload,thevideo" default="" type="text" visible="true"/>
        <setting id="lastsearch" label="Last Search" values="" default="" type="text" visible="true"/>
        <setting id="filtertext" label="Filter Text" values="" default="" type="text" visible="true"/>
        <setting id="viewmode" label="Set View $INFO[Container.Viewmode]" values="500" default="500" type="number"
                 visible="true"/>
        <setting id="sortalpha" label="Sort Alphabetically not by date." values="false" default="false" type="bool"
                 visible="true"/>
        <setting id="downloadpath" label="Download Path" values="" default="" type="folder" visible="true"/>
        <setting id="debugon" label="DEBUG MODE ON" values="false" default="false" type="bool" visible="true"/>
    </category>
</settings>
